
<div class="container-fluid">
    <div class="homepage-v1 hidden-sn white-skin animated">
        <!--Navigation-->
            <header>
                <!-- Sidebar navigation -->
                <ul id="slide-out" class="side-nav custom-scrollbar">
                    <!-- Logo -->
                    <li>
                        <div class="logo-wrapper waves-light">
                            <a href="/">
                                <img style="height : 100px !important; max-width:100% !important; min-width:100% !important; object-fit: cover !important;" src="/media/logo2.png" class="img-fluid flex-center">
                            </a>
                        </div>
                    </li>
                    <!--/. Logo -->
                    <!--Social-->
                    <li>
                        <ul class="social">
                            <li>
                                <a href="" target="_blank" class="icons-sm fb-ic">
                                    <i class="fa fa-facebook"> </i>
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank" class="icons-sm tw-ic">
                                    <i class="fa fa-youtube"> </i>
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank" class="icons-sm gplus-ic">
                                    <i class="fa fa-linkedin"> </i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!--/Social-->
                    <!-- Side navigation links -->
                    <li>
                        <ul class="collapsible collapsible-accordion">
                            <li class="nav-item">
                                <a class="nav-link waves-effect waves-light dark-grey-text font-bold" href="/tod">
                                    <i class="fa fa-home blue-text"></i> Dashboard
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                    <a class="nav-link waves-effect waves-light dark-grey-text font-bold" href="/sort">
                                        <i class="fa fa-home blue-text"></i> Sorted
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>

                            
                            
                            <li class="nav-item">
                                <a class="nav-link waves-effect waves-light dark-grey-text font-bold" href="/userinfo">
                                    <i class="fa fa-shopping-cart blue-text"></i> User Info
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>

                            
                              
                            <li class="nav-item">
                                <a class="nav-link waves-effect waves-light dark-grey-text font-bold" href="/logout">
                                    <i class="fa fa-sign-out blue-text"></i> Logout
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!--/. Side navigation links -->
                    <div class="sidenav-bg mask-strong"></div>
                </ul>
                <!--/. Sidebar navigation -->
                <!-- Navbar -->
                <nav class="navbar fixed-top navbar-expand-lg  navbar-light scrolling-navbar white">
                    <div class="container">
                        <!-- SideNav slide-out button -->
                        <div class="float-left mr-2">
                            <a href="#" data-activates="slide-out" class="button-collapse">
                                <i class="fa fa-bars"></i>
                            </a>
                        </div>
                        <div class="float-left mr-3 pr-3">
                            <a class="navbar-brand font-bold" href="/">
                            <strong>Residential Assistants</strong>
                        </a>
                        </div>
                    </div>
                </nav>
                <!-- /.Navbar -->

            </header>
            <!-- /.Navigation -->
    </div>
</div>
