

<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <meta http-equiv="x-ua-compatible" content="ie=edge">
 
<head>
<style>/* Only for snippet */
.double-nav .breadcrumb-dn {
  color: #fff;
}</style>
<style type="text/css">/* Chart.js */
@-webkit-keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}@keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}.chartjs-render-monitor{-webkit-animation:chartjs-render-animation 0.001s;animation:chartjs-render-animation 0.001s;}</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
</head>

<body class="hidden-sn mdb-skin" aria-busy="true">


<style>
.main-tabs-docs .nav-mtd {
white-space: nowrap;
overflow-x: auto;
position: relative; }
@media (min-width: 62rem) {
  .main-tabs-docs .nav-mtd {
    overflow-x: hidden; } }
.main-tabs-docs .nav-mtd li a {
  display: block;
  padding: 20px 24px;
  font-size: 13px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-weight: 500;
  border-bottom: 3px solid #33b5e5; }
  .main-tabs-docs .nav-mtd li a.active {
    border-bottom: 3px solid;
    color: #fff; }
@media (min-width: 62em) {
  .main-tabs-docs .nav-mtd li:first-child {
    margin-left: 56px; } }

.documentation .primary-heading {
font-size: 2.7rem;
font-weight: 500; }

.documentation .secondary-heading {
font-size: 1.5rem;
font-weight: 500;
color: #444343;
overflow: hidden;
padding-bottom: .3rem;
margin-bottom: .7rem; }

.documentation .section-heading {
font-size: 2rem;
font-weight: 600;
margin-bottom: 1.4rem; }

.documentation .docs-pills {
margin-top: 1.4rem; }

.documentation .section-preview {
  border: 1px solid #e0e0e0;
  padding: 15px; }

@media only screen and (max-width: 991px) {
  .sticky, .sticky2, .sticky3,
  .sticky-placeholder {
    display: none;
  }
}


</style>


 
<!--Main Layout--->

<main>


    <div class="container-fluid mt-2">

        <!-- Main docs tabs -->
        <div class="main-tabs-docs">
            <div class="tab-content">
                                <!--Overview-->
                <div class="tab-pane fade in show active" id="docsTabsOverview" role="tabpanel">

                            <!--Section: Docs content-->
                            <section class="documentation">
                              <style>
.carousel-3d-body{overflow-x:hidden}.carousel-3d{position:relative;width:60%;height:400px;margin:80px auto;-webkit-perspective:1000px;perspective:1000px}.carousel-3d .carousel-3d-inner{position:absolute;width:100%;height:100%;-webkit-transform:translateZ(-288px);transform:translateZ(-288px);-webkit-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-transition:-webkit-transform 1s;-o-transition:transform 1s;transition:transform 1s;transition:transform 1s,-webkit-transform 1s}.carousel-3d .carousel-3d-item{position:absolute;width:190px;height:120px;-webkit-transition:opacity 1s,-webkit-transform 1s;-o-transition:transform 1s,opacity 1s;transition:transform 1s,opacity 1s;transition:transform 1s,opacity 1s,-webkit-transform 1s}.carousel-3d .carousel-3d-item img{width:100%!important;height:100%!important;-o-object-fit:cover!important;object-fit:cover!important}.carousel-3d .carousel-3d-controls{position:absolute;left:0;top:-80px;width:100%;height:100%;text-align:center}.carousel-3d .carousel-3d-controls a{width:30px;height:30px;text-align:center;font-size:26px}@media (max-width:768px){.carousel-3d{-webkit-perspective:200px;perspective:200px}.carousel-3d .carousel-3d-item{position:absolute;width:95px;height:60px;-webkit-transition:opacity 1s,-webkit-transform 1s;-o-transition:transform 1s,opacity 1s;transition:transform 1s,opacity 1s;transition:transform 1s,opacity 1s,-webkit-transform 1s}.carousel-3d-vertical{-webkit-perspective:2000px;perspective:2000px}.carousel-3d-vertical .carousel-3d-controls{position:absolute;left:0;top:0;width:50%;height:50%;text-align:center;-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}}.carousel-3d-vertical .carousel-3d-controls{position:absolute;left:0;top:0;width:100%;height:100%;text-align:center;-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}
</style>

<!--Section: Intro-->
<section id="introduction">
  <h1 style="text-align: center; padding-top: 20px;">We love you</h1>
</section>
    <div class="container">
      <div class="carousel-3d carousel-3d-controls">
        <div class="carousel-3d-inner">
          <div class="carousel-3d-item"><img src="https://mdbootstrap.com/img/Photos/Slides/img%20(46).jpg" alt="Slide"><p style="text-align: center;"> <a target="blank" href="https://www.hyina.com/" >Merick</a></p></div>
          <div class="carousel-3d-item"><img src="https://mdbootstrap.com/img/Photos/Slides/img%20(45).jpg" alt="Slide"><p style="text-align: center;">Asha</p></div>
          <div class="carousel-3d-item"><img src="https://mdbootstrap.com/img/Photos/Slides/img%20(47).jpg" alt="Slide"><p style="text-align: center;">Aidah</p></div>
          <div class="carousel-3d-item"><img src="https://mdbootstrap.com/img/Photos/Slides/img%20(48).jpg" alt="Slide"><p style="text-align: center;">Tapiwa</p></div>
          <div class="carousel-3d-item"><img src="https://mdbootstrap.com/img/Photos/Slides/img%20(49).jpg" alt="Slide"><p style="text-align: center;" >Samk</p></div>
          <div class="carousel-3d-item"><img src="https://mdbootstrap.com/img/Photos/Slides/img%20(50).jpg" alt="Slide"><p style="text-align: center;">Anuarite</p></div>
          <div class="carousel-3d-item"><img src="https://mdbootstrap.com/img/Photos/Slides/img%20(51).jpg" alt="Slide"><p style="text-align: center;">Ms Sarah</p></div>
          <div class="carousel-3d-item"><img src="https://mdbootstrap.com/img/Photos/Slides/img%20(52).jpg" alt="Slide"><p style="text-align: center;">Miche</p></div>
          <div class="carousel-3d-item"><img src="https://mdbootstrap.com/img/Photos/Slides/img%20(53).jpg" alt="Slide"><p style="text-align: center;">Shanlee</p></div>
        </div>
        <div class="carousel-3d-controls">
          <a class="prev-btn waves-effect waves-light"><i class="fas fa-chevron-left"></i></a>
          <a class="next-btn waves-effect waves-light"><i class="fas fa-chevron-right"></i></a>
        </div>
      </div>
    </div>
  </section>
  <!--/Section -->

</main>


<script type='text/javascript' src='https://mdbootstrap.com/wp-admin/load-scripts.php?c=gzip&amp;load%5B%5D=wp-embed,jquery-ui-core,jquery-ui-widget,jquery-ui-mouse,jquery-ui-slider&amp;ver=5.0.3'></script>
<script type='text/javascript' src='https://mdbootstrap.com/wp-content/themes/mdbootstrap4/js/4.7.4/compiled.0.min.js?ver=4.7.4'></script>
<script type='text/javascript' src='https://mdbootstrap.com/wp-content/themes/mdbootstrap4/js/footer-functions.js?ver=4.7.4'></script>
<script type='text/javascript' src='https://mdbootstrap.com/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.1.1'></script>
<script type='text/javascript' src='https://mdbootstrap.com/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.70'></script>
<script type='text/javascript' src='https://mdbootstrap.com/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js?ver=2.1.4'></script>
<script type='text/javascript' src='https://mdbootstrap.com/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=3.5.4'></script>
<script type='text/javascript' src='https://mdbootstrap.com/wp-content/plugins/mailchimp-for-woocommerce/public/js/mailchimp-woocommerce-public.min.js?ver=2.1.12'></script>
<script type='text/javascript' src='https://chimpstatic.com/mcjs-connected/js/users/461480655ccce528d909d3f42/05e1abaa17c4f479182ad3147.js?ver=2.1.12'></script>
<script type='text/javascript' src='https://mdbootstrap.com/wp-content/themes/mdbootstrap4/js/snippets-behavior.js?ver=4.7.1-update.6'></script>
<script type='text/javascript' src='https://mdbootstrap.com/wp-content/themes/mdbootstrap4/js/pages-rates.js?ver=4.7.4'></script>
<script type='text/javascript' src='https://mdbootstrap.com/wp-content/plugins/woocommerce/assets/js/jquery-ui-touch-punch/jquery-ui-touch-punch.min.js?ver=3.5.4'></script>
<script type='text/javascript' src='https://mdbootstrap.com/wp-content/plugins/woocommerce-currency-switcher/js/price-slider_33.js?ver=5.0.3'></script>
<script type='text/javascript' src='https://mdbootstrap.com/wp-content/plugins/woocommerce-currency-switcher/js/jquery.ddslick.min.js?ver=5.0.3'></script>
<script type='text/javascript' src='https://mdbootstrap.com/wp-content/plugins/woocommerce-currency-switcher/js/front.js?ver=5.0.3'></script>




                                                                                                                                                                                                 <script src="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/js/plugins/mdb-carousel-3d.min.js"></script>
<script>
  $('.carousel-3d-basic').mdbCarousel3d();
  $('.carousel-3d-controls').mdbCarousel3d();
  $('.carousel-3d-vertical').mdbCarousel3d({
    vertical: true
  });
  $('.carousel-3d-autoplay-off').mdbCarousel3d({
    autoplay: false
  });
</script>

 </body>
</html>
 


